html {
    font-family: "Josefin Sans", sans-serif;
    background-color: #1e1e1e;
    color: #ccc;
    line-height: 1.5em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,0,58,1) 50%, rgba(27,0,82,1) 100%);
}

body {
    margin: 0;
    padding: 20px;
}

img {
    max-height: 300px;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-top: 3em;
}

hr {
    margin-bottom: 25px;
}

#katsises img {
    width: 200px;
}

#katsises {
    margin-top: 100px;
    text-align: center;
}

#intro {
    column-gap: 20px;
}

#intro img {
    border-radius: 100px;
}

#intro p {
    text-align: left;
}

#intro-title {
    column-gap: 10px;
    justify-content: start;
}

#intro-title p {
    align-self: flex-end;
    color: gray;
    font-size: 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#commissions {
    flex-direction: column;
}

#commissions .container {
    width: 1000px;
    background-size: cover;
    background-position: 50% 20%;
    border-radius: 10px;
}

#commissions .content {
    height: 300px;
    position: relative;
    z-index: 1;
}

#commissions thead {
    font-size: 1.2em;
}

#commissions tbody {
    font-size: 1.1em;
}

#commissions table {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

#commissions td {
    padding: 0 20px;
}

#commissions .filter {
    position: absolute;
    width: 1000px;
    height: 300px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#commissions thead {
    border-bottom: 1px white solid;
}

#pfp {
    width: 100px;
}

#main img {
    border-radius: 20px;
}

#main img:hover {
    box-shadow: black 5px 5px;
    border-radius: 20px;
}

#main .flex {
    column-gap: 20px;
}

a, i {
    color: rgb(255, 143, 174);
}

a > i:hover {
    color: white;
}