html {
    font-family: "Josefin Sans", sans-serif;
    background-color: #1e1e1e;
    color: #ccc;
    line-height: 1.5em;
    background: linear-gradient(0deg, rgba(153,67,88,1) 0%, rgba(21,6,19,1) 100%);
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 20px;
}

/* No data */

#katsises img {
    width: 200px;
}

#katsises {
    margin-top: 100px;
    text-align: center;
}

/* Intro */

#intro {
    column-gap: 20px;
}

#intro img {
    border-radius: 100px;
}

#intro p {
    text-align: left;
}

#intro-title {
    column-gap: 10px;
    justify-content: start;
}

#intro-title p {
    align-self: flex-end;
    color: gray;
    font-size: 15px;
}

#pfp {
    width: 100px;
}

/* General */

.flex {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

a {
    text-decoration: none;
}

a, i {
    color: rgb(255, 143, 174);
}

a > i:hover {
    color: white;
}

/* Comissions */
tr {
    height: 100px;
}

#commissions .container {
    width: 1000px;
    background-size: cover !important;
    background-position: 50% 20% !important;
    border-radius: 10px;
}

#commissions table {
    width: 100%;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    #commissions .container {
        width: 100%;
    }
}

/* Others categories */

#main img {
    max-height: 300px;
    border-radius: 20px;
}

#main img:hover {
    filter: brightness(80%);
}

#main .flex {
    column-gap: 20px;
    row-gap: 10px;
}

#tos .container {
    background-color: #210d14;
    color: white;
    max-width: 1000px;
    border-radius: 40px;
    padding: 20px;
}

.question {
    font-weight: bold;
    font-size: 1.1em;
}

#tos .bold, #faq .question {
    font-weight: bold;
    color: #FFA3CA;
}