{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ name }}</h1>
    <h2>Gallery</h2>
    {% for img in images %}
        <a href="https://gallery.katsis.net/i/{{ img.id }}"><img src="https://gallery.katsis.net/data/thumbnails/{{ img.id }}.{{ img.format }}"/></a>
    {% endfor %}
{% endblock %}